nav {
    display: inline-block;
    margin-top: 10px;
}

.navItem {
    width: 100px;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;    
    margin-right: 10px;
    cursor: pointer;
}

.selected-nav {
    background-color: lightblue;
}